<h1>All travelboards (<%= @travelboards.length%>) </h1>
<div class="cards-home">
  <% @travelboards.each do |travelboard| %>
    <%= link_to travelboard_path(travelboard) do %>
      <div class="card-trip-inspo">
        <div class="card-category-inspo" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://source.unsplash.com/featured/?<%=travelboard.country.downcase%>)">
          <div class="card-trip-infos-inspo">
            <div>
              <h2><%= travelboard.name  %></h2>
              <p><%= travelboard.country %></p>
            </div>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <%# MODAL CREATION FOR ADDING A TRAVELBOARD %>
  <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel2">Create a new travelboard</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <%= simple_form_for @travelboard do |f| %>
            <%= f.input :name, :label => "Travelboard name", :placeholder => "My trip to France" %>
            <%= f.input :country, as: :string %>
            <%= f.input :start_date, :label => "Start of my trip" %>
            <%= f.input :end_date, :label => "End of my trip"  %>
            <%= f.submit "Create a travelboard", class:"btn btn-ghost" %>
          <% end %>
        </div>
        <div class="modal-footer">
          <button class="btn btn-ghost" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Back</button>
        </div>
      </div>
    </div>
  </div>
  <a id="btn-add-favorite" data-bs-toggle="modal" href="#exampleModalToggle2" role="button"><i class="fas fa-suitcase"></i>  Create a new travelboard</a>
</div>
</div>
