<p style="margin-left: 15px; margin-top: 25px"><%= link_to "Back to home", root_path, class:"btn-back-home" %></p>

<div class="header-travelboard-index container">
  <h3>Your travelboards</h3>
  <hr class="solid">
</div>

<div class="cards-home">
  <% @travelboards.each do |travelboard| %>
    <%= link_to travelboard_path(travelboard) do %>
      <div class="card-trip-inspo">
        <div class="card-category-inspo" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0)), url('<%= cl_image_path travelboard.photo.key %>')">
          <div class="card-trip-infos-inspo">
            <%= image_tag travelboard.user.profile_photo, class: "card-trip-user avatar", height: 40, crop: :thumb, gravity: :face %>
            <div>
              <h2><%= travelboard.name  %></h2>
              <p><%= travelboard.country %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <a data-bs-toggle="modal" href="#" role="button">
    <div class="card-trip-inspo">
      <div class="new-card">
        <span class="test">Create a travelboard</span>
        <i class="fas fa-plus-circle" ></i>
      </div>
    </div>
  </a>
</div>

  <%# MODAL CREATION FOR ADDING A TRAVELBOARD %>
  <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel2">Create a new travelboard</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <%= simple_form_for @travelboard do |f| %>
            <%= f.input :name, :label => "Travelboard name", :placeholder => "My trip to France" %>
            <%= f.input :country, as: :string %>
            <%= f.input :start_date, :label => "Start of my trip" %>
            <%= f.input :end_date, :label => "End of my trip"  %>
            <%= f.input :photo, as: :file %>
            <%= f.submit "Create a travelboard", class:"btn btn-ghost" %>
          <% end %>
        </div>
        <div class="modal-footer">
          <button class="btn btn-ghost" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Back</button>
        </div>
      </div>
    </div>
  </div>
