<h1>Create a travelboard <%=@user.username%></h1>

<%= simple_form_for @travelboard do |f| %>
    <%= f.input :name %>
    <%# <%= f.input :country %> %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit "Create a travelboard" %>
  <% end %>
