
  <%# Horizontal timeline %>
      <%# <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Vertical Dark Timeline</title>
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
      </head> %>
      <%# <body> %>

    <% travelday_zero = [] %>
    <% @travelboard.traveldays.each do |travelday| %>
      <% if travelday.day_number == 0 %>
        <% travelday_zero << travelday %>
      <% end %>
    <% end %>

    <% if @travelboard.user == current_user && travelday_zero.empty? == false %>
      <div class="flexbox-headers-cards-map">
        <div class="header-and-cards">
          <div class="header-travelboard">
            <p><%= link_to "Back to travelboards", travelboards_path, class:"btn-back-travelboard" %></p>
            <h2 class="name-travelboard"><%= @travelboard.name %></h2>
            <div class="header-travelboard-details">
              <div>
                <p><i class="fas fa-map-pin" style="color: #EC1820; margin-right: 3px"></i>  <%= @travelboard.country.capitalize %></p>
                <p><i class="far fa-calendar-check"style="color: #EC1820"></i> From <%= @travelboard.start_date.strftime('%A,%B %d, %Y') %> to <%= @travelboard.end_date.strftime('%A,%B %d, %Y') %></p>
              </div>
            </div>
            <div class="header-travelboard-user">
              <p>Travelboard created by you</p>
              <%= image_tag @travelboard.user.profile_photo, class: "avatar", height: 40, crop: :thumb, gravity: :face%>
            </div>
          </div>
          <div class="d-flex" data-controller="drag" >
            <div class="column1">
              <div class="cards-day-travelboard" id="sticky-travelboard">
                <div class="card-day-travelboard-day-zero">
                  <h5 class="title-day">Experiences to organize</h5>
                  <div class="cards" data-drag-target="column" data-travelday="<%= travelday_zero.first.id %>">
                    <% travelday_zero.each do |travelday| %>
                      <%travelday.favorites.each do |favorite| %>
                        <div class="tb-card-product" data-favorite="<%= favorite.id %>">
                          <%= image_tag favorite.experience.image_url, class:"img-favorite-travelboard" %>
                          <div class="d-flex justify-content-between w-100">
                            <div>
                              <p><%= link_to favorite.experience.name, experience_path(favorite.experience), class:"tb-card-product-title" %></p>
                              <div class="d-flex align-items-center">
                                <% if favorite.experience.category == "Accommodation" %>
                                <img class="icon-experience" src="<%= image_path('003home.png') %>" />
                                <p class="tb-card-category-accommodation"><%= favorite.experience.category %></p>
                                <% elsif favorite.experience.category == "Restaurant" %>
                                <img class="icon-experience" src="<%= image_path('003cutlery.png') %>" />
                                <p class="tb-card-category-restaurant"><%= favorite.experience.category %></p>
                                <% elsif favorite.experience.category == "Activity" %>
                                <img class="icon-experience" src="<%= image_path('003bike.png') %>" />
                                <p class="tb-card-category-activity"><%= favorite.experience.category %></p>
                                <% end %>
                              </div>
                            </div>
                            <div class="icon-delete">
                              <%= link_to favorite_path(favorite),
                              method: :delete,
                              data: { confirm: "Are you sure?" } do %>
                              <i class="fas fa-times" style="color: #A0BAAD"></i>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                    <p class="text-center" style="display: none; color: white; font-style: italic; font-weight: lighter" data-drag-target="nothing">You have no experiences to organize!</p>
                  </div>

                </div>
              </div>
            </div>

            <div class="column2">
              <div class="cards-day-travelboard">
                  <%@travelboard.traveldays.each do |travelday| %>
                    <% if travelday.day_number > 0 %>
                      <div class="card-day-travelboard">
                        <h5 class="title-day">DAY <%= travelday.day_number %></h5>
                        <div class="cards" data-drag-target="column" data-travelday="<%= travelday.id %>">
                          <%travelday.favorites.each do |favorite| %>
                          <div class="tb-card-product" data-favorite="<%= favorite.id %>">
                            <%= image_tag favorite.experience.image_url, class:"img-favorite-travelboard" %>
                            <div class="d-flex justify-content-between w-100">
                              <div>
                                <p><%= link_to favorite.experience.name, experience_path(favorite.experience), class:"tb-card-product-title" %></p>
                                <div class="d-flex align-items-center">
                                  <% if favorite.experience.category == "Accommodation" %>
                                  <img class="icon-experience" src="<%= image_path('003home.png') %>" />
                                  <p class="tb-card-category-accommodation"><%= favorite.experience.category %></p>
                                  <% elsif favorite.experience.category == "Restaurant" %>
                                  <img class="icon-experience" src="<%= image_path('003cutlery.png') %>" />
                                  <p class="tb-card-category-restaurant"><%= favorite.experience.category %></p>
                                  <% elsif favorite.experience.category == "Activity" %>
                                  <img class="icon-experience" src="<%= image_path('003bike.png') %>" />
                                  <p class="tb-card-category-activity"><%= favorite.experience.category %></p>
                                <% end %>
                                </div>
                              </div>
                              <div class="icon-delete">
                                <%= link_to favorite_path(favorite),
                                method: :delete,
                                data: { confirm: "Are you sure?" } do %>
                                <i class="fas fa-times" style="color: #A0BAAD"></i>
                                <% end %>
                              </div>
                            </div>
                          </div>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="column3">
          <div class="travelboardmap"
              data-controller="mapbox"
              data-mapbox-markers-value="<%= @markers.to_json %>"
              data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
          </div>
        </div>
      </div>


    <% else %>
      <div class="flexbox-headers-cards-map">
        <div class="header-and-cards-if-not-user">
          <div class="header-travelboard">
            <p><%= link_to "Back to travelboards", travelboards_path, class:"btn-back-travelboard" %></p>
            <h2 class="name-travelboard"><%= @travelboard.name %></h2>
            <div class="header-travelboard-details">
              <div>
                <p><i class="fas fa-map-pin" style="color: #EC1820; margin-right: 3px"></i>  <%= @travelboard.country.capitalize %></p>
                <p><i class="far fa-calendar-check"style="color: #EC1820"></i> From <%= @travelboard.start_date.strftime('%A,%B %d, %Y') %> to <%= @travelboard.end_date.strftime('%A,%B %d, %Y') %></p>
              </div>
            </div>
              <div class="header-travelboard-user">
                <p style="opacity: 0.7">Travelboard created by <%= @travelboard.user.username %></p>
                <%= image_tag @travelboard.user.profile_photo, class: "avatar", height: 40, crop: :thumb, gravity: :face%>
              </div>
          </div>
          <div class="column2-if-not-user">
            <div class="cards-day-travelboard">
                <%@travelboard.traveldays.each do |travelday| %>
                  <% if travelday.day_number > 0 %>
                    <div class="card-day-travelboard">
                      <div class="card-day-travelboard-container">
                        <h5>DAY <%= travelday.day_number %></h5>
                        <div>
                          <%travelday.favorites.each do |favorite| %>
                            <div class="tb-card-product">
                              <%= image_tag favorite.experience.image_url, class:"img-favorite-travelboard" %>
                              <div>
                                <p><%= link_to favorite.experience.name, experience_path(favorite.experience), class:"tb-card-product-title" %></p>
                                <p class="tb-card-experience-address"><i class="fas fa-map-pin"></i> <%= favorite.experience.address %></p>
                                <div class="d-flex align-items-center" style="margin-top: 6px">
                                  <% if favorite.experience.category == "Accommodation" %>
                                    <img class="icon-experience" src="<%= image_path('003home.png') %>" />
                                    <p class="tb-card-category-accommodation"><%= favorite.experience.category %></p>
                                  <% elsif favorite.experience.category == "Restaurant" %>
                                    <img class="icon-experience" src="<%= image_path('003cutlery.png') %>" />
                                    <p class="tb-card-category-restaurant"><%= favorite.experience.category %></p>
                                  <% elsif favorite.experience.category == "Activity" %>
                                    <img class="icon-experience" src="<%= image_path('003bike.png') %>" />
                                    <p class="tb-card-category-activity"><%= favorite.experience.category %></p>
                                  <% end %>

                                </div>
                              </div>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
            </div>
          </div>
        </div>

        <div class="column3-if-not-user">
          <div class="travelboardmap"
              data-controller="mapbox"
              data-mapbox-markers-value="<%= @markers.to_json %>"
              data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
          </div>
        </div>
      </div>
    <% end %>
</div>


<%# Chatroom part %>
<div class="wrapper-chatroom">
  <div style="flex: 50%">
    <div id="header-chat">
      <% if @travelboard.user == current_user %>
          <h3 class="chatroom-title" style="font-size: 20px; padding-bottom: 10px">Way Travellers are asking for your advice, give them your tips!</h3>
      <% else %>
        <h3 class="chatroom-title" style="font-size: 20px; padding-bottom: 10px">Got a question on this travelboard? Ask Way Travellers for advice!</h3>
      <% end %>
    </div>
    <% if @travelboard.user == current_user && @chatroom.messages == []%>
      <div class="container chatroom-empty" style="width: 750px; margin-left: 20px">
        <p><i class="far fa-comments"></i> You don't have any messages from the community yet <i class="far fa-comments"></i></p>
      </div>
    <% elsif @travelboard.user != current_user && @chatroom.messages == []%>
      <div class="container chatroom" style="width: 750px; margin-left: 20px">
          <div class="messages" data-controller="chatroom-subscription"
            data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
            <% @chatroom.messages.each do |message| %>
              <%= render "messages/message", message: message %>
            <% end %>
          </div>
          <%= simple_form_for [@travelboard, @chatroom, @message], remote: true do |f| %>
          <%= f.input :content, label: false, placeholder: "Got a question on this travelboard? Be the first to ask a question to #{@travelboard.user.username}" %>
          <% end %>
      </div>
    <% elsif @travelboard.user == current_user && @chatroom.messages %>
      <div class="container chatroom" style="width: 750px; margin-left: 20px" data-controller="chatinput">
        <div class="messages" data-controller="chatroom-subscription"
          data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
          <% @chatroom.messages.each do |message| %>
            <%= render "messages/message", message: message %>
          <% end %>
        </div>
        <%= simple_form_for([@travelboard, @chatroom, @message], data: {
                      action: 'submit->chatinput#clearinput'
                    }, remote: true) do |f| %>
        <%= f.input :content, label: false, placeholder: "Type your answer and give your tips here!", input_html: { data: { chatinput_target: "input" } } %>
        <% end %>
      </div>
    <% else %>
      <div class="container chatroom" style="width: 750px; margin-left: 20px" >
        <div class="messages" data-controller="chatroom-subscription"
          data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
          <% @chatroom.messages.each do |message| %>
            <%= render "messages/message", message: message %>
          <% end %>
        </div>
        <%= simple_form_for [@travelboard, @chatroom, @message], remote: true do |f| %>
        <%= f.input :content, label: false, placeholder: "Ask #{@travelboard.user.username} for advice, type your question here!" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="similar-itineraries" style="flex: 50%">

    <h3 style="font-size: 20px; color: white; padding-bottom: 10px">Similar travelboards in <%= @travelboard.country %></h3>
    <% if @travelboards_similar == [] %>
    <div>
      <p class="no-similar">There are no similar travelboards</p>
    </div>
    <% else %>
      <div class="cards-home-similar-itineraries">
        <%= link_to travelboard_path(@travelboard_for_similar) do %>
          <div class="card-trip-inspo" style="width: 250px">
            <div class="card-category-inspo" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= cl_image_path @travelboard_for_similar.photo.key %>)">
              <div class="card-trip-infos-inspo">
                <%= image_tag @travelboard_for_similar.user.profile_photo, class: "card-trip-user avatar", height: 40, crop: :thumb, gravity: :face %>
                <div>
                  <h2><%= @travelboard_for_similar.name  %></h2>
                  <p><%= @travelboard_for_similar.country %></p>
                  <p>created by <%= @travelboard_for_similar.user.username %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
