
  <%# Horizontal timeline %>
      <%# <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Vertical Dark Timeline</title>
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
      </head> %>
      <%# <body> %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/featured/?<%=@travelboard.country %>);">
  <h2>Travelboard: <%= @travelboard.name %></h2>
</div>
<div class="container">
  <div class="container-travelboards">
    <%# 'timeline-map is the div surround the the timeline and map %>
    <div class="timeline-map row">
      <div class="column">
        <%@travelboard.traveldays.each do |travelday| %>
          <div class="timeline">
            <% if travelday.day_number.odd? %>
                <%= travelday.day_number.odd? %>
                <div class="timeline-container primary">
                    <div class="timeline-icon" data-bs-toggle="collapse" data-bs-target="#collapseExample<%=travelday.day_number%>" aria-expanded="false" aria-controls="collapseExample">
                      <p><button class="button-travelboard"><%= travelday.day_number %></button></p>
                      <%# <i class="far fa-grin-wink"></i> %>
                    </div>
                    <div class="timeline-body-light timeline-body collapse" id="collapseExample<%=travelday.day_number%>">
                    <%travelday.favorites.each do |favorite| %>
                      <div class="tb-card-product tb-card-product-light">
                        <div class="tb-card-product-infos d-flex justify-content-between">
                          <p class="tb-card-experience-name"><%= favorite.experience.name %></span>
                          <p class="tb-card-category"><%= favorite.experience.category %></p>
                        </div>
                        <p class="tb-card-experience-address"><i class="fas fa-map-marked-alt"><%= favorite.experience.address %></p></i>
                        <%# <p class="tb-card-experience-address"><strong>Address:</strong></p> %>

                      </div>
                    <% end %>
                    </div>
                </div>
            <% else %>
              <%= travelday.day_number.odd? %>
              <div class="timeline-container danger">
                  <div class="timeline-icon" data-bs-toggle="collapse" data-bs-target="#collapseExample<%=travelday.day_number%>" aria-expanded="false" aria-controls="collapseExample">
                    <p><button class="button-travelboard"><%= travelday.day_number %></button></p>
                    <%# <i class="far fa-grin-hearts"></i> %>
                  </div>
                  <div class="timeline-body-dark timeline-body collapse" id="collapseExample<%=travelday.day_number%>">
                    <%travelday.favorites.each do |favorite| %>
                      <div class="tb-card-product tb-card-product-dark">
                        <div class="tb-card-product-infos d-flex justify-content-between">
                          <p class="tb-card-experience-name"><%= favorite.experience.name %></span>
                          <p class="tb-card-category"><%= favorite.experience.category %></p>
                        </div>
                        <p class="timeline-subtitle"><i class="fas fa-map-marked-alt"><%= favorite.experience.address %></p></i>
                        <%# <p class="tb-card-experience-address"><strong>Address:</strong></p> %>

                      </div>
                    <% end %>
                  </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="column">
        <div class="mapbox"
            data-controller="mapbox"
            data-mapbox-markers-value="<%= @markers.to_json %>"
            data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div>
      </div>


    </div>

  </div>
  <hr class="solid">

    <%# Reviews part %>
  <div class="container">
    <h3>Reviews from the community</h3>
    <div class="review-show mb-3">
      <div class="infos-show">
          <% @travelboard.review_travelboards.each do |review| %>

              <div class="list-group-item" style="border-radius: 7px;">
                <div style="color: grey"><%= cl_image_tag review.user.profile_photo, class: "avatar", height: 40, crop: :thumb, gravity: :face%>   <%= review.user.username %> said :</div>
                <div><%= review.comment %></div>
                <div><strong><%= review.rating %></strong></div>
                <div><%= link_to "Remove",
                              travelboard_review_travelboard_path(@travelboard, review),
                              method: :delete,
                              data: { confirm: "Are you sure?" } %></div>
              </div>
          <% end %>
      </div>

        <% if user_signed_in? == true %>
        <div class="form-review">
          <h5>Give your feedback</h5>
            <%= simple_form_for [ @travelboard, @reviewtrav] do |f| %>
            <%= f.input :comment, :label => "How was your experience?" %>
            <%= f.input :rating, collection: (1..5).to_a, :label => "Rate your experience" %>
            <%= f.submit "Submit your review", class: "btn btn-ghost" %>
          <% end %>
        <% end %>
        </div>
      </div>
  </div>
  <p><%= link_to "Back to home", root_path %></p>
</div>
