
  <%# Horizontal timeline %>
      <%# <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Vertical Dark Timeline</title>
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
      </head> %>
      <%# <body> %>

    <% travelday_zero = [] %>
    <% @travelboard.traveldays.each do |travelday| %>
      <% if travelday.day_number == 0 %>
        <% travelday_zero << travelday %>
      <% end %>
    <% end %>

    <% if @travelboard.user == current_user && travelday_zero.empty? == false %>
      <div class="flexbox-headers-cards-map">
        <div class="header-and-cards">
          <div class="header-travelboard">
            <h2><%= @travelboard.name %></h2>
            <p><i class="fas fa-map-pin" style="color: #EC1820"></i> <%= @travelboard.country %></p>
          </div>
          <div class="d-flex">
            <div class="column1">
              <div class="cards-day-travelboard">
                <div class="card-day-travelboard-day-zero">
                  <h5 class="title-day">Add experiences</h5>
                  <div class="cards" data-controller="drag" data-travelday="<%= travelday_zero.first.id %>">
                    <% travelday_zero.each do |travelday| %>
                      <%travelday.favorites.each do |favorite| %>
                        <div class="tb-card-product-day-zero" data-favorite="<%= favorite.id %>">
                          <%= image_tag favorite.experience.image_url %>
                          <div>
                            <p><%= link_to favorite.experience.name, experience_path(favorite.experience), class:"tb-card-product-title" %></p>
                            <p class="tb-card-category"><%= favorite.experience.category %></p>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

            <div class="column2">
              <div class="cards-day-travelboard">
                  <%@travelboard.traveldays.each do |travelday| %>
                    <% if travelday.day_number > 0 %>
                      <div class="card-day-travelboard">
                        <h5 class="title-day">DAY <%= travelday.day_number %></h5>
                        <div class="cards" data-controller="drag" data-travelday="<%= travelday.id %>">
                          <%travelday.favorites.each do |favorite| %>
                          <div class="tb-card-product" data-favorite="<%= favorite.id %>">
                            <%= image_tag favorite.experience.image_url %>
                            <div>
                              <p><%= link_to favorite.experience.name, experience_path(favorite.experience), class:"tb-card-product-title" %></p>
                              <p class="tb-card-category"><%= favorite.experience.category %></p>
                            </div>
                          </div>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="column3">
          <div class="travelboardmap"
              data-controller="mapbox"
              data-mapbox-markers-value="<%= @markers.to_json %>"
              data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
          </div>
        </div>
      </div>


    <% else %>
      <div class="flexbox-headers-cards-map">
        <div class="header-and-cards-if-not-user">
          <div class="header-travelboard">
            <h2><%= @travelboard.name %></h2>
            <p><i class="fas fa-map-pin" style="color: #EC1820"></i> <%= @travelboard.country %></p>
          </div>
          <div class="column2-if-not-user">
            <div class="cards-day-travelboard">
                <%@travelboard.traveldays.each do |travelday| %>
                  <% if travelday.day_number > 0 %>
                    <div class="card-day-travelboard">
                      <div class="card-day-travelboard-container">
                        <h5>DAY <%= travelday.day_number %></h5>
                        <div>
                          <%travelday.favorites.each do |favorite| %>
                            <div class="tb-card-product">
                              <%= image_tag favorite.experience.image_url %>
                              <div>
                                <p><%= link_to favorite.experience.name, experience_path(favorite.experience), class:"tb-card-product-title" %></p>
                                <p class="tb-card-experience-address"><i class="fas fa-map-pin"></i> <%= favorite.experience.address %></p>
                                <p class="tb-card-category"><%= favorite.experience.category %></p>
                              </div>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
            </div>
          </div>
        </div>

        <div class="column3-if-not-user">
          <div class="travelboardmap"
              data-controller="mapbox"
              data-mapbox-markers-value="<%= @markers.to_json %>"
              data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
          </div>
        </div>
      </div>
    <% end %>
</div>


<%# Chatroom part %>
<div class="wrapper-chatroom">
  <div class="container chatroom">
    <% if @travelboard.user == current_user %>
      <h3 class="chatroom-title">Answer questions from Way Travellers on your travelboard</h3>
    <% else %>
      <h3 class="chatroom-title">Ask the Way travellers for advice</h3>
    <% end %>

    <div class="messages" data-controller="chatroom-subscription"
      data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
    >
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>

    <%= simple_form_for [@travelboard, @chatroom, @message], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Ask a question on this travelboard" %>
    <% end %>
  </div>

  <p><%= link_to "Back to home", root_path %></p>
</div>
