
  <%# Horizontal timeline %>
      <%# <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Vertical Dark Timeline</title>
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
      </head> %>
      <%# <body> %>

<div class="container">
  <div class="header-travelboard">
    <h2><%= @travelboard.name %></h2>
  </div>
  <div class="header-travelboard-details">
    <div class="header-travelboard-user">
      <%= image_tag @travelboard.user.profile_photo, class: "avatar", height: 40, crop: :thumb, gravity: :face %>
      <p>Created by <%= @travelboard.user.username %></p>
    </div>
    <p><i class="fas fa-map-pin" style="color: #EC1820"></i> <%= @travelboard.country %></p>
  </div>

    <div class="d-flex">

      <div class="column1">

        <div class="cards-day-travelboard">
            <%@travelboard.traveldays.each do |travelday| %>
              <div class="card-day-travelboard">
                <div class="card-day-travelboard-container">
                  <h5>DAY <%= travelday.day_number %></h5>
                  <div>
                    <%travelday.favorites.each do |favorite| %>
                      <div class="tb-card-product">
                        <%= image_tag favorite.experience.image_url %>
                        <div>
                          <p><%= link_to favorite.experience.name, experience_path(favorite.experience), class:"tb-card-product-title" %></p>
                          <p class="tb-card-experience-address"><i class="fas fa-map-pin"></i> <%= favorite.experience.address %></p>
                          <p class="tb-card-category"><%= favorite.experience.category %></p>
                        </div>

                        <%# <p class="tb-card-experience-address"><strong>Address:</strong></p> %>
                      </div>
                    <% end %>
                </div>
                </div>
              </div>
            <% end %>
        </div>


      </div>

      <div class="column2">
        <div class="mapbox"
            data-controller="mapbox"
            data-mapbox-markers-value="<%= @markers.to_json %>"
            data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div>
      </div>


    </div>
</div>


<%# Chatroom part %>
<div class="wrapper-chatroom">
  <div class="container chatroom">
    <h3 class="chatroom-title">Ask the Way travellers for advice</h3>

    <div class="messages" data-controller="chatroom-subscription"
      data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
    >
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>

    <%= simple_form_for [@travelboard, @chatroom, @message], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Ask a question on this travelboard" %>
    <% end %>
  </div>

  <p><%= link_to "Back to home", root_path %></p>
</div>
