<div class="navbar navbar-expand-sm sticky-top px-5">
  <div class= "d-flex justify-content-around align-items-center">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "", width: 500, height: 95 %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "All travelboards", travelboards_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= link_to "My Profile", "#", class: "nav-link dropdown-toggle", id: "dropdownMenuLink", "data-bs-toggle":"dropdown", "aria-expanded":"false" %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
              <%= link_to "Travelboard", travelboards_path, class: "dropdown-item" %>
              <%= link_to "Create a travelboard", new_travelboard_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "All travelboards", travelboards_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
