<div class="navbar navbar-expand-sm navbar-light">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to "All experiences", experiences_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
      <% if user_signed_in? == true %>
        <%= image_tag current_user.profile_photo, class: "dropdown-toggle icon", id: "dropdownMenuLink", data: { bs_toggle: "dropdown" }, 'aria-expanded': false %>
      <% else %>
        <%= image_tag "account.png", class: "dropdown-toggle icon", id: "dropdownMenuLink", data: { bs_toggle: "dropdown" }, 'aria-expanded': false %>
      <% end %>
        <ul class="dropdown-menu dropdown-menu-lg-end">
          <li><h6 class="dropdown-header">My profile</h6></li>
          <li><%= link_to "My travelboard", "travelboard_path", class: "dropdown-item" %></li>
          <li><%= link_to "Add a new travelboard", "new_travelboard_path", class: "dropdown-item" %></li>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
