
<div class="banner banner-bg" ;>

    <h1 class="title-banner">Find ecofriendly experiences all around the world</h1>

    <div class="search-bar">

      <ul class="list-inline tabs-underlined">
        <li>
          <%= link_to "Accommodations", search_accommodations_path, class: "tab-underlined active" %>
        </li>
        <li>
          <%= link_to "Activities", search_activities_path, class: "tab-underlined" %>
        </li>
        <li>
          <%= link_to "Inspirations", search_inspirations_path, class: "tab-underlined" %>
        </li>
      </ul>

      <div class="container d-flex justify-content-center">
        <%= form_tag experiences_path, method: :get do %>
        <div class="search-form-control input-group d-flex">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find an experience"
          %>
        <% end %>
        <%= submit_tag "Search", class: "btn btn-ghost" %>
        </div>
      </div>

    </div>



</div>

<div class="container my-4">

  <div class="cards">

  <h3 class="title-ideas">Ideas for your next trip</h3>

  <div class="card-trip-home">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos-home">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip-home">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos-home">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip-home">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos-home">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

</div>

<div class="color-block my-4">
  <div class="block-1">
    <h1>block 1</h1>
  </div>
  <div class="block-2">
    <h1>block 2</h1>
  </div>
</div>
