<div class="map-card">
  <%= link_to experience_path(experience) do %>
    <h1><%= experience.name %></h1>
    <%= image_tag experience.image_url, height: 100, width: 200, crop: :fill if experience.image_url %>
    <% end %>
    <p><%= experience.category %></p>
    <p><%= experience.address %></p>
</div>
