<div class="container mt-4">
  <h1>All experiences<h1>
  <p><%= pluralize @experiences.length, "experience" %> available for your dates </p>
  <div class="container d-flex">
    <div class="col-6">
      <ul>
        <div class="row my-4">
          <% @experiences.each do |experience|%>
            <div class="col-6 cards">
            <%= link_to experience_path(experience) do %>
              <div class="card-trip">
                <img src= <%= experience.image_url%> >
                <div class="card-trip-infos">
                  <div>
                    <p><%= experience.name %> (category: <%= experience.category%>) </p>
                    <p>Short description here!</p>
                  </div>
                <h2 class="card-trip-pricing"><%= experience.price if experience.price? %>€</h2>
                </div>
              </div>
            <% end %>
            </div>
          <% end %>
        </div>
        <p> hi i'm trying the paragraph </p>
        <p><%= link_to "Back to home", root_path %></p>
      </ul>
    </div>
  </div>
</div>
