<div class="d-flex">
  <div class="p-3"style="font-size: 24px"><%= link_to url_for(:back),
                    method: :get do  %>
                    <i class="fas fa-arrow-circle-left" style="color: #1A3835"></i>
                    <% end %></div>
  <div class="container col-6 mt-4">
    <p id="pluralize"><%= pluralize @experiences.length, "eco-friendly experience" %> found in <%= params[:query] %> </p>
    <div class="row ps-3 my-4">
      <% @experiences.each do |experience|%>
        <div class="col-6" id="experience-<%= experience.id %>">
        <%= link_to experience_path(experience) do %>
          <div class="card-experience">
            <img src= <%= experience.image_url%>>
            <div class="card-experience-infos">
              <div>
                <h5 class="experience-title"><%= experience.name %> </h5>
                <p class="experience-description"><%= experience.description.truncate(100)%></p>
              </div>
              <div class="icon-price">

                      <% if experience.category == "Accommodation" %>
                        <img class="icon-experience" src="<%= image_path('003home.png') %>" />
                      <% elsif experience.category == "Restaurant" %>
                        <img class="icon-experience" src="<%= image_path('003cutlery.png') %>" />
                      <% elsif experience.category == "Activity" %>
                        <img class="icon-experience" src="<%= image_path('003backpack.png') %>" />
                      <% end %>

                <h2 class="card-experience-pricing"><%= experience.price if experience.price? %>€</h2>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="ms-4" id="mapboxindex"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>


<div style="background-color: #1A3835">
  <div class="d-flex justify-content-center">
  <div class="container" style="width: 2000px">
  <div class="infos-show">
      <h3 class="py-3 text-center" style="color: white; width: 1100px">Itineraries from the Way Travellers community</h3>
  </div>
  <% if @travelboards.empty? == false  %>
  <div class="cards-home-index">
    <% @travelboards.each do |travelboard| %>
    <div class="card-trip-inspo">
      <div class="card-category-inspo" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://source.unsplash.com/featured/?<%=travelboard.country.downcase.gsub(/\s+/, "")%>)">
        <div class="card-trip-infos-inspo">
          <div class="link-white">
            <h2><%= link_to travelboard.name, travelboard_path(travelboard) %></h2>
            <p><%= travelboard.country %></p>
            <p>created by <%= travelboard.user.username %></p>
          </div>
          <%= image_tag travelboard.user.profile_photo, class: "card-trip-user avatar", height: 40, crop: :thumb, gravity: :face %>
        </div>
      </div>
    </div>
    <% end %>
    </div>
    </div>
  </div>

  <% end %>
  </div>
</div>
