<div class="container mt-4">
  <p><%= pluralize @experiences.length, "experience" %> found in <%= params[:query] %> </p>
  <div class="container d-flex">
    <div class="col-6">
        <div class="row my-4">
          <% @experiences.each do |experience|%>
            <div class="col-6">
            <%= link_to experience_path(experience) do %>
              <div class="card-experience">
                <img src= <%= experience.image_url%> >
                <div class="card-experience-infos">
                  <div>
                    <p><%= experience.name %> (category: <%= experience.category%>) </p>
                    <p>Short description here!</p>
                  </div>
                <h2 class="card-experience-pricing"><%= experience.price if experience.price? %>€</h2>
                </div>
              </div>
            <% end %>
            </div>
          <% end %>
        </div>
    </div>
    <div class="col-6 my-4 ms-4 mapbox"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
  <p><%= link_to "Back to home", root_path %></p>
</div>
