

  <div class="banner-show" style="background-color: #95B2A3">
    <div class="container">
      <div class="image-grid">
        <% if @experience.review_experiences.first %>
        <div class="bubble-review">
          <div><%= image_tag @experience.review_experiences.first.user.profile_photo %><%= @experience.review_experiences.first.user.username %> said:</div>
          <div><%= @experience.review_experiences.first[:comment] %></div>
        </div>
        <% end %>
        <img src= <%= @experience.image_url%> id="image-grid-1" >
        <div class="mapbox mapboxgl-mapshow"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center container">
        <div>
          <h2><%= @experience.name%></h2>
          <p><strong><%= @experience.address%></strong></p>
        </div>
        <div>
          <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalToggleLabel">Your travelboards</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h5>Existing travelboards</h5>
              <% @travelboards.each do |travelboard| %>
                <%= simple_form_for [@experience, @favorite] do |f| %>
                  <%# <button id="card-travelboard-existing" type="submit"> %>
                  <button id="card-travelboard-existing" onclick="myFunction()">
                    <img src="https://source.unsplash.com/featured/?<%=travelboard.country.downcase.gsub(/\s+/, "")%>">
                    <%# <%= travelboard.experiences.first.image_url %>
                    <div id="card-travelboard-existing-details">
                      <p><%= travelboard.name %></p>
                      <p id="date"><%= travelboard.start_date %> to <%= travelboard.end_date %></p>
                    </div>
                            <script>
                            function myFunction() {
                              alert("The Experience was correctly added to you Travelboard :)");
                            }
                            </script>
                    <input type="hidden" name="travelboard_id" value='<%= travelboard.id %>'>
                  </button>
                <% end %>
              <% end %>
            </div>
            <div id="card-travelboard-existing" class="ml-2">
              <button class="btn btn-create-travelboard" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">+</button>
              <p>Create a new travelboard</p>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalToggleLabel2">Create a new travelboard</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <%= simple_form_for @travelboard do |f| %>
                <%= f.input :name, :label => "Travelboard name", :placeholder => "My trip to France" %>
                <%= f.input :country, as: :string %>
                <%= f.input :start_date, :label => "Start of my trip" %>
                <%= f.input :end_date, :label => "End of my trip"  %>
                <input type="hidden" name="experience_id" value='<%= @experience.id %>' >
                <%= f.submit "Create a travelboard", class:"btn btn-ghost" %>
              <% end %>
            </div>
            <div class="modal-footer">
              <button class="btn btn-ghost" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Back</button>
            </div>
          </div>
        </div>
      </div>
      <% if user_signed_in? %>
        <a id="btn-add-favorite" id="buttonfav" data-bs-toggle="modal" href="#exampleModalToggle" role="button"><i class="fas fa-suitcase"></i>  Add to my travelboard</a>
      <% else %>
        <a id="btn-add-favorite" data-bs-toggle="modal" href="#logInModalToggle" role="button">Log-in to add to your favorites !</a>
      <% end %>


        </div>
      </div>
    </div>
  </div>

<div class="container">
  <div class="main-show">
    <div class="description-show">
      <h3>Presentation</h3>
      <p><%= @experience.description%></p>
    </div>
    <div class="addtofavorite-show">
      <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalToggleLabel">Your travelboards</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h5>Existing travelboards</h5>
              <% @travelboards.each do |travelboard| %>
                <%= simple_form_for [@experience, @favorite] do |f| %>
                  <button id="sweet-alert-demo" class="card-travelboard-existing2" type="submit">
                    <img src="https://source.unsplash.com/featured/?<%=travelboard.country.downcase.gsub(/\s+/, "")%>">
                    <div id="card-travelboard-existing-details2">
                      <p><%= travelboard.name %></p>
                      <p id="date"><%= travelboard.start_date %> to <%= travelboard.end_date %></p>
                    </div>
                    <input type="hidden" name="travelboard_id" value='<%= travelboard.id %>'>
                  </button>
                <% end %>
              <% end %>
            </div>
            <div id="card-travelboard-existing2" class="ml-2">
              <button class="btn btn-create-travelboard" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">+</button>
              <p>Create a new travelboard</p>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalToggleLabel2">Create a new travelboard</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <%= simple_form_for @travelboard do |f| %>
                <%= f.input :name, :label => "Travelboard name", :placeholder => "My trip to France" %>
                <%= f.input :country, as: :string %>
                <%= f.input :start_date, :label => "Start of my trip" %>
                <%= f.input :end_date, :label => "End of my trip" %>
                <input type="hidden" name="experience_id" value='<%= @experience.id %>' >
                <%= f.submit "Create a travelboard", class:"btn-ghost" %>
              <% end %>
            </div>
            <div class="modal-footer">
              <button class="btn btn-ghost" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Back</button>
            </div>
          </div>
        </div>
      </div>
      <% if user_signed_in? %>
        <div class="myDIV">
          <a id="bouton-sticky" data-bs-toggle="modal" href="#exampleModalToggle" role="button"><i class="fas fa-plus"></i></a>
        </div>
      <% end %>
      <div class="hide stickytext"><button id="sweet-alert-demo" id="buttonfav"><i class="fas fa-suitcase"></i>  Add to my travelboard</button></div>
      <%# ----------- %>
      <div class="modal fade" id="logInModalToggle" tabindex="-1" role="dialog" aria-labelledby="logInLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="logInLabel">Log-in !</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-inputs">
                <%= f.input :email,
                            required: false,
                            autofocus: true,
                            input_html: { autocomplete: "email" } %>
                <%= f.input :password,
                            required: false,
                            input_html: { autocomplete: "current-password" } %>
                <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
              </div>
            </div>
            <div class="modal-footer">
              <div class="form-actions">
                <%= f.button :submit, "Log in", class:"btn-ghost" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
      <%# ----------- %>
    </div>
  </div>


  <hr class="solid">

  <div class="main-show">
    <div class="infos-show">
      <div>
        <h3 class="mb-3">Infos</h3>
        <p><%= @experience.country%></p>
      </div>
    </div>
  </div>

  <hr class="solid">
  <h3 style="color: #3B6363">Reviews from the Way Travellers community</h3>
  <div class="review-show mb-3">
    <div class="infos-show">
        <% @experience.review_experiences.each do |review| %>

            <div class="list-group-item" style="border-radius: 7px;">
              <div style="color: grey"><%= image_tag review.user.profile_photo, class: "avatar", height: 40, crop: :thumb, gravity: :face%>   <%= review.user.username %> said :</div>
              <div><%= review.comment %></div>
              <div><% review.rating.to_i.times do  %>
              <span class="fas fa-star"></span>
              <% end %>
              <% review.blank_stars.times do  %>
              <span class="far fa-star"></span>
              <% end %>
              </div>
              <div><% if policy(review).destroy? %>
                  <%= link_to "Remove",
                            experience_review_experience_path(@experience, review),
                            method: :delete,
                            data: { confirm: "Are you sure?" }%>
                            <% end %>
                </div>

            </div>
        <% end %>
    </div>
    <% if user_signed_in? == true %>
    <div class="form-review">
      <h5>Already went to <%= @experience.name%>? Give your feedback</h5>
        <%= simple_form_for [ @experience, @review] do |f| %>
        <%= f.input :comment, :label => "How was your experience?", :placeholder => "Great stay and wonderful hosts" %>
        <%= f.input :rating, collection: (1..5).to_a, :label => "Rate your experience"%>
        <%= f.submit "Submit your review", class: "btn btn-ghost" %>
      <% end %>
     <% end %>
    </div>
  </div>
</div>


<div style="background-color: #1A3835">
  <div class="d-flex justify-content-center">
    <div class="container">
      <div class="infos-show">
        <h3 class="py-3" style="color: white">Experiences nearby</h3>
      </div>
      <div class="cards-nearby">
        <% @nearby_experiences.each do |experience|%>
            <%= link_to experience_path(experience) do %>
              <div class="card-experience">
                <img src= <%= experience.image_url%> >
                <div class="card-experience-infos">
                  <div>
                    <h5 class="experience-title"><%= experience.name %> </h5>
                    <p class="experience-description"><%= experience.description.truncate(100)%></p>
                  </div>
                  <div class="icon-price">

                      <% if experience.category == "Accommodation" %>
                        <img class="icon-experience" src="<%= image_path('003home.png') %>" />
                      <% elsif experience.category == "Restaurant" %>
                        <img class="icon-experience" src="<%= image_path('003cutlery.png') %>" />
                      <% elsif experience.category == "Activity" %>
                        <img class="icon-experience" src="<%= image_path('003backpack.png') %>" />
                      <% end %>

                    <h2 class="card-experience-pricing"><%= experience.price if experience.price? %>€</h2>
                  </div>
                </div>
              </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
